numpy==1.26.*
torch==2.4.*
huggingface_hub==0.*
transformers==4.44.*
protobuf==5.*
tqdm==4.*
pytest==8.*
groq==0.*
accelerate==0.*
loguru==0.*
vllm==0.5.4
bitsandbytes==0.43.*
tensorizer==2.9.*
nvitop==1.3.2
python-multipart