numpy==1.26.*
torch==2.3.*
torchvision==0.18.*
huggingface_hub==0.*
transformers==4.43.*
protobuf==5.*
tqdm==4.*
pytest==8.*
groq==0.*
accelerate==0.*
loguru==0.*
vllm==0.5.*
autoawq==0.2.*
bitsandbytes==0.43.*
tensorizer==2.9.*
nvitop